app.templates.splash = `<div class="_splash-title">GNOME JavaScript Docs</div>`

app.templates.intro = `
  <div class="_intro"><div class="_intro-message">
    <a href="#" class="_intro-hide" data-hide-intro>Stop showing this message</a>
    <h2 class="_intro-title">Welcome!</h2>
    <p>This is the API documentation for writing GNOME applications in JavaScript.
       You're viewing it in an app called DevDocs, which combines multiple API documentations in a fast, organized, and searchable interface.
       Here's what you should know before you start:
    <ol class="_intro-list">
      <li>Open the <a href="/settings">Preferences</a> to enable more docs and customize the UI.
      <li>You don't have to use your mouse &mdash; see the list of <a href="/help#shortcuts">keyboard shortcuts</a>.
      <li>The search supports fuzzy matching (e.g. "floadc" brings up "File.load_contents()").
      <li>To search a specific documentation, type its name (or an abbr.), then Tab.
      <li>You can search using your browser's address bar &mdash; <a href="/help#browser_search">learn how</a>.
      <li>DevDocs works <a href="/offline">offline</a>, on mobile, and can be installed on <a href="https://chrome.google.com/webstore/detail/devdocs/mnfehgbmkapmjnhcnbodoamcioleeooe">Chrome</a>.
      <li>DevDocs is free and <a href="https://github.com/freeCodeCamp/devdocs">open source</a>.
          <iframe class="_github-btn" src="//ghbtns.com/github-btn.html?user=freeCodeCamp&repo=devdocs&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
          This is a <a href="https://github.com/ptomato/devdocs">modified version</a>.
      <li>If any API documentation is incorrect, please file bugs on this <a href="https://github.com/ptomato/devdocs/issues">issue tracker</a>.
      <li>And if you're new to coding, check out <a href="https://www.freecodecamp.org/">freeCodeCamp's open source curriculum</a>.
    </ol>
    <p>Happy coding!
  </div></div>
`

app.templates.mobileIntro = `
  <div class="_mobile-intro">
    <h2 class="_intro-title">Welcome!</h2>
    <p>This is the API documentation for writing GNOME applications in JavaScript.
       You're viewing it in an app called DevDocs.
       Here's what you should know before you start:
    <ol class="_intro-list">
      <li>Pick your docs in the <a href="/settings">Preferences</a>.
      <li>The search supports fuzzy matching.
      <li>To search a specific documentation, type its name (or an abbr.), then Space.
      <li>For the latest news, follow <a href="https://twitter.com/DevDocs">@DevDocs</a>.
      <li>DevDocs is <a href="https://github.com/freeCodeCamp/devdocs">open source</a>.
          This is a <a href="https://github.com/ptomato/devdocs">modified version</a>.
    </ol>
    <p>Happy coding!
    <a class="_intro-hide" data-hide-intro>Stop showing this message</a>
  </div>
`
